

<html ng-app="appx">
<body ng-controller="testeController">
    <h2>
        HOME! 

    </h2>
    <button ng-click="alerta()" >alerta!</button>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/App/app.js"></script>
    <script src="~/Scripts/App/testeController.js"></script>
</body>
</html>


